@font-face {
	font-family: 'Lato';
	src: url('./assets/fonts/Lato-Regular.woff2') format('woff2'),
	url('./assets/fonts/Lato-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('./assets/fonts/Lato-Black.woff2') format('woff2'),
	url('./assets/fonts/Lato-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('./assets/fonts/Lato-Light.woff2') format('woff2'),
	url('./assets/fonts/Lato-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('./assets/fonts/Lato-Bold.woff2') format('woff2'),
	url('./assets/fonts/Lato-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
}
h1,h2,h3{
	margin: 0;
	padding: 0;
}
body {
	width: 1020px;
}
.header {
	background: #2d303a;
	height: 89px;
	border-bottom: 6px solid #323746;
}
.flex {
	display: flex;
}
.container {
	width: 940px;
	margin: 0 auto;
}
.flex_jc_sb {
	justify-content: space-between;
}
.aline-items_center {
	align-items: center;
}
.nav_ul {
	list-style-type: none;
	margin-top: 10px;
}
.uppercase{
	text-transform: uppercase;
}
.header_logo{
	margin-top: -1px;
}
.header_logo_star {
	color: #f06c64;
	font-size: 24px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}
h1{
	line-height: 19px;
	color: white;
	font-size: 24px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	display: inline;
}
.nav_li {
	display: inline;
	color: white;
	margin-left: 8.5px;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 6px;
}
.nav_li a{
	color: white;
	text-decoration: none;
}
.nav_li .active{
	color: #f06c64;
}
.nav_li a:not(.active):hover{
	color: yellow;
}
.delimiter{
	color: #494e62
}

.section_slider{
	border-bottom: 6px solid #ea676b;
	background: #f06c64;
}
.slider{
	height: 595px;
}
.slider_img:hover{
	cursor: pointer;
}
.phone_slide1, .phone_slide2{
	width: 750px;
	height: 520px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 150px;
	left: 150px;
}
.phone_slide1{
	background: #f06c64;
	z-index: 10;
}
.phone_slide2{
	background: #648BF0;
	z-index: 5;
}
.toogle{
	z-index: 20;
}
.toogle_section{
	background: #648BF0;
}
.phone_v{
	padding-left: 3px;
	margin-top: -3px;
}
.phone_g{
	padding-left: 20px;
	margin-top: -3px;
}
.flex_wrap_wrap{
	flex-wrap: wrap;
}
.our_services_item{
	width: 300px;
	margin-right: 20px;
	margin-bottom: 33px;
	overflow: hidden;
	height: 90px;
}
.our_services_item_img{
	margin-right: 20px;
}
.our_services_item:nth-child(3n){
	margin-right: 0;
}
h2{
	padding-top: 68px;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	line-height: 18px;
	font-weight: 900;
	color: #666d89;
}
.title_section p{
	margin-top: 27px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	color: #767e9e;
	text-align: justify;
	letter-spacing: -0.22px;
}
.our_services_items{
	margin-top: 46px;
}
.our_services_item_text p{
	margin-top: 10px;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	line-height: 21.5px;
	font-weight: normal;
	color: #767e9e;
	text-align: justify;
	letter-spacing: -0.1px;
}
h3{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: 900;
	color: #666d89;
}
.our_services{
	background: #f2f2f2;
	border-bottom: 6px solid #ffffff;
	height: 493px;
}
.portfolio{
	background: #2d303a;
	height: 864px;
	border-bottom: 6px solid #323746;
}
.portfolio_title h3, .about_us_title h3{
	padding-top: 69px;
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-size: 30px;
	line-height: 17.86px;
	color: #666d89;
	letter-spacing: 0.3px;
}
.portfolio_title p, .about_us_title p{
	padding-top: 28px;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: #767e9e;
	letter-spacing: -0.21px;
}
.portfolio_nav_border{
	padding: 3px 6px;
	border: 1px solid #666d89;
	border-radius: 5px;
}
.portfolio_nav{
	padding-bottom: 18px;
	padding-top: 11px;
}
.portfolio_nav span:first-child{
	margin-left: 1px;
}
.portfolio_nav span{
	font-family: "Lato", sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 21.56px;
	color: #666d89;
	margin-right: 10px;
}

.portfolio_nav .active{
	color: white;
	border: 1px solid white;
}
/*.nav_li a:{*/
/*	color: yellow;*/
/*}*/
.portfolio_nav span:not(.active):hover{
	color: yellow;
	border-color: yellow;
	cursor: pointer;
}
.portfolio_images{
	display: flex;
	flex-wrap: wrap;
	margin-top: 1px;
	height: 610px;
	overflow: hidden;
}
.portfolio_images img{
	margin-right: 20px;
	margin-bottom: 20px;

}
.portfolio_images img:nth-child(4n){
	margin-right: 0;
}
.about_us{
	height: 728px;
	background: #f2f2f2;
	border-bottom: 6px solid #ffffff;
}
.about_us_title p{
	text-align: justify;
	padding-top: 26px;
}
.card{
	display: flex;
	flex-direction: column;
	width: 300px;
	margin-right: 20px;
	overflow: hidden;
}
.card:last-child{
	margin-right: 0;
}
.cards_container{
	margin-top: 46px;
	display: flex;
}
.card_info h4{
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-size: 18px;
	line-height: 17.86px;
	color: #666d89;
	padding: 19px 0;
	margin-top: -7px;
	width: max-content;
}
.card_info p{
	font-family: "Lato", sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 21.56px;
	color: #767e9e;
	text-align: justify;
	margin-top: -8px;
	letter-spacing: -0.15px;
}
.card_social{
	margin-top: 23px;
}
.card_social img{
	margin-right: 4px;
}
.card_social img:hover{
	background: #5d9ded;
	border-radius: 50%;
	cursor: pointer;
}
.about_us_title h3{
	letter-spacing: -0.1px;
}
.get_quote{
	background: #f06c64;
	height: 648px;
	border-bottom: 6px solid #ea676b;
}
.get_quote_title h3{
	padding-top: 69px;
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-size: 30px;
	line-height: 17.86px;
	color: #f0d8d9;
	letter-spacing: -0.27px;
}
.get_quote_title p{
	padding-top: 27px;
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: #f0d8d9;
	letter-spacing: -0.21px;
	text-align: justify;
}
.contacts_title h4{
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-size: 18px;
	line-height: 17.86px;
	color: #f0d8d9;
	padding: 19px 0;
	margin-top: -8px;
	width: max-content;
	letter-spacing: 0.2px;
}
.contacts_title p{
	font-family: "Lato", sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 21.56px;
	color: #f0d8d9;
	text-align: justify;
	margin-top: -8px;
	letter-spacing: -0.08px;
}
.input_container input{
	height: 38px;
	background: #d6564f;
	display: block;
	border: none;
	border-radius: 5px;
	margin: 15px 0;
	width: 620px;
	padding-left: 15px;
	box-sizing: border-box;
}
.textarea_container textarea{
	background: #d6564f;
	display: block;
	border: none;
	border-radius: 5px;
	margin: 15px 0;
	width: 620px;
	padding-left: 15px;
	padding-top: 14px;
	box-sizing: border-box;
}
.get_quote_container{
	display: flex;
	margin-top: 29px;
}
.get_quote_container .form_container{
	margin-top: 1px;
}
.form_container{
	display: flex;
	width: 620px;
	margin-right: 19px;
}
.contacts_container{
	width: 300px;
	margin-top: 4px;
}
.contacts_info {
	margin-top: 25px;
}
.contacts_info_item{
	display: flex;
	align-items: center;
}
.contacts_info_item img{
	margin-right: 10px;
}
.contacts_info_item p{
	font-family: "Lato", sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 21.56px;
	color: #f0d8d9;
}
::-webkit-input-placeholder{
	color: #f48c8f;
	font-family: "Lato", sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 21.56px;
}
::-moz-placeholder{
	color: #f48c8f;
	font-family: "Lato", sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 21.56px;
}
:-moz-placeholder {
	color: #f48c8f;
	font-family: "Lato", sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 21.56px;
}
:-ms-input-placeholder{
	color: #f48c8f;
	font-family: "Lato", sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 21.56px;
}
.form_container .name{
	margin-top: 14px;
}
.form_container .email{
	margin-top: 16px;
}
.form_container .subject{
	margin-top: 16px;
}
.form_container .textarea_container{
	margin-top: 16px;
}
.form_container .textarea_container textarea{
	padding-top: 7px;
	letter-spacing: -0.07px;
	height: 202px;
	resize: none;
}
.contacts_info .quote1 img{
	margin-left: 4px;
}
.contacts_info .quote1 p{
	margin-left: 3px;
	margin-top: -1px;
	letter-spacing: -0.19px;
}
.contacts_info .quote2 img{
	margin-left: 2px;
}
.contacts_info .quote2 p{
	margin-left: 1px;
	letter-spacing: -0.2px;
}
.contacts_info .quote3 img{
	margin-top: 3px;
	margin-left: 1px;
}
.contacts_info .quote3 p{
	margin-top: 2px;
}
.form_container .submit{
	background: #f48c8f;
	display: block;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 0 auto;
}
.form_container .submit:hover{
	cursor: pointer;
	background: #666d89;
}
.contacts_container a{
	text-decoration: none;
	color: #f0d8d9;
}
footer{
	background: #2d303a;
	height: 76px;
}
.footer_nav img{
	margin-left: 4px;
}
.footer_container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 22px;
}
.footer_title p span{
	margin: 0 2px;
}
.footer_title p span:first-child{
	margin-left: 2px;
}
.footer_title p{
	font-family: "Lato", sans-serif;
	font-weight: normal;
	font-size: 12px;
	line-height: 6.32px;
	color: #666d89;
	letter-spacing: -0.18px;
}
.footer_title{
	margin-top: -5px;
}
.footer_nav img:hover{
	background: #5d9ded;
	border-radius: 50%;
	cursor: pointer;
}
.black_g, .black_v{
	background: black;
	position: absolute;
}
.none{
	display: none;
}
.black_v{
	width: 189px;
	height: 335px;
	left: 168px;
	z-index: 15;
	top: 229px;
}
.black_g{
	width: 335px;
	height: 189px;
	left: 474px;
	z-index: 15;
	top: 300px;
}